@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Магазин HunterShop</h1>
    <p>ТЦ «ИОЛЛА» предлагает более 20 000 товаров для охоты, рыбалки и туризма всем любителям активного отдыха на природе! Правильная экипировка и грамотно подобранное качественное оборудование позволят сделать отдых максимально комфортным и результативным.<br>
        В нашем каталоге представлены производители с мировым именем, отлично зарекомендовавшие себя как в России, так и за рубежом: Browning, Benelli, Beretta, Blaser, Sauer, Fabarm, Crosman , Gamo, Концерн Калашников. Качество товаров данных брендов проверено временем, при этом, стоимость остается оптимальной. У нас вы сможете найти товары для активного отдыха по ценам, которые являются одними из наиболее выгодных в городе по данному сегменту.<br>
        Если вы не уверены, какой именно товар вам нужен или у вас есть другие вопросы, наши специалисты всегда готовы предоставить профессиональную, исчерпывающую информацию. Здесь вам обязательно подскажут, какая экипировка и оборудование подходят для определенного вида охоты или рыбалки, погоды, сезона. Благодаря действительно широкому выбору, в нашем магазине найти можно все!
    </p>
</div>
